header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fff;
}

#nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  height: 100px;
}

.nav_logo {
  font-size: 40px;
}

#nav_list {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 40px;
}

@media screen and (max-width: 670px) {
  #nav_list {
    display: none;
  }
}
