/* elementos comuns em todas as seções */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  /* box-sizing vai ajudar na responsividade */
  box-sizing: border-box;
  color: #222016;
  text-decoration: none;
  list-style: none;
}

a {
  font-size: 16px;
  margin-bottom: 5px;
  color: #d60072;
}

a:hover {
  /* quando posiciona a seta no link */
  color: #222016;
}

#main-container {
  display: flex;
  padding: 50px;
  background-color: #f9f9f9;
  gap: 20px;
}

#filter {
  background-color: #fff;
  width: 250px;
  padding: 10px;
}

#gift-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 20px;
}

.gift-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  min-width: 190px;
  width: 25%%;

  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

/* .gift-card i {
  position: absolute;
  display: flex;
  margin-left: 140px;
  font-size: 30px;
  color: #d60072;
} */

.gift-id {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-image {
  height: 150ox;
  width: 150px;
  background-color: #fff;
}

.gift-name {
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gift-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn-default {
  width: fit-content;
  padding: 8px 12px;
  background-color: #222016;
  color: #fff;
  border-style: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

/* quando o cursor estiver sobre o botão */
.btn-default:hover {
  background-color: #d60072;
}

@media screen and (max-width: 1180px) {
  #main-container {
    display: flex;
    padding: 50px;
    background-color: #f9f9f9;
    gap: 20px;
    justify-content: center;
  }

  #gift-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 670px) {
  #main-container {
    display: flex;
    padding: 50px;
    background-color: #f9f9f9;
    gap: 20px;
    justify-content: center;
  }

  #gift-container {
    display: flex;
    flex-direction: column;
    width: 210px;
    align-items: center;
    justify-items: center;
  }

  #filter {
    display: none;
  }
}
